<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends 'base.html' %}
{% block new_content %}
<table class="table table-striped"  border="1" cellpadding="5">
    <tr>
        <td>CPU总利用率</td>
        <td>{{ cpu.cpu_percent_whole }}%</td>
    </tr>
   {% for i in range(cpu.cpu_percent_everyone_len) %}
    <tr>
        <td>CPU_{{ i }}</td>
        <td>{{ cpu.cpu_percent_everyone[i] }}%</td>
    </tr>
     {% endfor %}
    <tr>
        <td>物理CPU核心数</td>
        <td>{{ cpu.p_CPU }}</td>
    </tr>
     <tr>
        <td>逻辑CPU核心数</td>
        <td>{{ cpu.CPU }}</td>
    </tr>
 <tr>
        <td>正在运行频率</td>
        <td>{{ cpu.nowfrequency }}</td>
    </tr>
 <tr>
        <td>最小运行频率</td>
        <td>{{ cpu.minfrequency }}</td>
    </tr>
 <tr>
        <td>最大运行频率</td>
        <td>{{ cpu.maxfrequency }}</td>
    </tr>
</table>
{% endblock %}
</body>
</html>